<div *ngIf=!!error class="alert alert-danger alert-dismissible fade show" role="alert">
  {{error}}
  <button type="button" class="close" (click)="close()" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div *ngIf=!!success class="alert alert-success alert-dismissible fade show" role="alert">
  {{success}}
  <button type="button" (click)="close()" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="table-responsive-md" *ngIf="mijnbieren$.length > 0; else empty">

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Naam</th>
        <th scope="col" class="del4">Brouwer</th>
        <th scope="col" class="del3">Percentage</th>
        <th scope="col" class="del2">Kleur</th>
        <th scope="col" class="del1">Smaak</th>
        <th scope="col">Score</th>
        <th scope="col" class="del"></th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let bier of mijnbieren$">
        <td>{{bier.naam}}</td>
        <td class="del4">{{brouwer(bier.brouwerId).naam}}</td>
        <td class="del3">{{bier.percentage}}</td>
        <td class="del2">{{bier.kleur}}</td>
        <td class="del1">{{bier.smaak}}</td>
        <td>
          <app-rating [rating]="bier.rating" (ratingClick)="adjustRating($event, bier)">
          </app-rating>
        </td>
        <td class="del" colspan="2"><i (click)=delete(bier) class="material-icons">
            delete
          </i>
          <i (click)=open(bier) class="material-icons">
            more_vert
          </i></td>
      </tr>
    </tbody>
  </table>
</div>
<ng-template #empty>
  <div class="geenbieren">
    <div>Je lijst is nog leeg</div>
    <a routerLink="/bier/lijst">Start nu met bieren toe te voegen!</a>
  </div>
</ng-template>