<div *ngIf=!!error class="alert alert-danger alert-dismissible fade show" role="alert">
  {{error}}
  <button type="button" class="close" (click)="close()" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div *ngIf=!!success class="alert alert-success alert-dismissible fade show" role="alert">
  {{success}}
  <button type="button" (click)="close()" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>


<div class="flex">
  <h5>Instellingen</h5>
  <div class="title">Wijzig email</div>
  <form [formGroup]="email" (ngSubmit)=onSubmitMail()>
    <div class="form-row">
      <div class="form-group col-sm-12">
        <i class="material-icons">perm_identity</i>
        <input id="override" class="form-control" aria-label="name" placeholder="Nieuw email-adress" type="text"
          formControlName="email" />
      </div>
      <div class="error" *ngIf="email.get('email')['errors'] && email.get('email').touched">
        {{ getErrorMessage(email.get('email')['errors']) }}</div>
    </div>
    <button type="submit" class="btn btn-block" [disabled]="!email.valid">
      Wijzig
    </button>
  </form>
  <hr>
  <div class="title">Wijzig gebruikersnaam</div>
  <form [formGroup]="gebruikersnaam" (ngSubmit)=onSubmitNaam()>
    <div class="form-row">
      <div class="form-group col-sm-12">
        <i class="material-icons">perm_identity</i>
        <input id="override" class="form-control" aria-label="name" placeholder="Nieuwe gebruikersnaam" type="text"
          formControlName="gebruikersnaam" />
      </div>
    </div>
    <div class="error"
      *ngIf="gebruikersnaam.get('gebruikersnaam')['errors'] && gebruikersnaam.get('gebruikersnaam').touched">
      {{ getErrorMessage(gebruikersnaam.get('gebruikersnaam')['errors']) }}</div>

    <button type="submit" class="btn btn-block" [disabled]=!gebruikersnaam.valid>
      Wijzig
    </button>
  </form>
  <hr>
  <div class="title">Wijzig wachtwoord</div>
  <form [formGroup]="wachtwoord" (ngSubmit)=onSubmitPass()>
    <div class="form-row">
      <div class="form-group col-sm-12">
        <i class="material-icons">perm_identity</i>
        <input id="override" class="form-control" aria-label="name" placeholder="Oud wachtwoord" type="password"
          formControlName="oudWachtwoord" />
      </div>
    </div>
    <div class="error" *ngIf="wachtwoord.get('oudWachtwoord')['errors'] && wachtwoord.get('oudWachtwoord').touched">
      {{ getErrorMessage(wachtwoord.get('oudWachtwoord')['errors']) }}</div>

    <div formGroupName="passwordGroup">
      <div class="form-row">
        <div class="form-group col-sm-12">
          <i class="material-icons">lock</i>
          <input id="override" class="form-control" aria-label="name" placeholder="Nieuw wachtwoord" type="password"
            formControlName="nieuwWachtwoord" />
        </div>

      </div>
      <div class="error"
        *ngIf="wachtwoord.get('passwordGroup').get('nieuwWachtwoord')['errors'] && wachtwoord.get('passwordGroup').get('nieuwWachtwoord').touched">
        {{ getErrorMessage(wachtwoord.get('passwordGroup').get('nieuwWachtwoord')['errors']) }}</div>
      <div class="form-row">
        <div class="form-group col-sm-12">
          <i class="material-icons">lock</i>
          <input id="override" class="form-control" aria-label="name" placeholder="Bevestig nieuw wachtwoord"
            type="password" formControlName="herhaalNieuw" /></div>

      </div>
      <div class="error"
        *ngIf="wachtwoord.get('passwordGroup').get('herhaalNieuw')['errors'] && wachtwoord.get('passwordGroup').get('herhaalNieuw').touched">
        {{ getErrorMessage(wachtwoord.get('passwordGroup').get('herhaalNieuw')['errors']) }}</div>
    </div>
    <button type="submit" class="btn btn-block" [disabled]="!wachtwoord.valid">
      Wijzig
    </button>
  </form>
  <!-- 
    <div class="form-row">
      <div class="form-group col-sm-12">
        <i class="material-icons">perm_identity</i>
        <input id="override" class="form-control" aria-label="name" placeholder="Oud wachtwoord" type="text"
          formControlName="oudWachtwoord" />
      </div>
    </div>
    <div class="error" *ngIf="wachtwoord.get('oudWachtwoord')['errors'] && wachtwoord.get('oudWachtwoord').touched">
      {{ getErrorMessage(wachtwoord.get('oudWachtwoord')['errors']) }}</div>
    <div formGroupName="passwordGroup">
      <div class="form-row">
        <div class="form-group col-sm-12">
          <i class="material-icons">perm_identity</i>
          <input id="override" class="form-control" aria-label="name" placeholder="Nieuw wachtwoord" type="text"
            formControlName="nieuwWachtwoord" />
        </div>
      </div>
      <div class="error"
        *ngIf="wachtwoord.get('passwordGroup').get('nieuwWachtwoord')['errors'] && wachtwoord.get('passwordGroup').get('nieuwWachtwoord').touched">
        {{ getErrorMessage(wachtwoord.get('passwordGroup').get('nieuwWachtwoord')['errors']) }}</div>
    </div>
    <div class="form-row">
      <div class="form-group col-sm-12">
        <i class="material-icons">perm_identity</i>
        <input id="override" class="form-control" aria-label="name" placeholder="Herhaal wachtwoord" type="text"
          formControlName="herhaalNieuw" />
      </div>
    </div>
    <div class="error"
      *ngIf="wachtwoord.get('passwordGroup').get('herhaalNieuw')['errors'] && wachtwoord.get('passwordGroup').get('herhaalNieuw').touched">
      {{ getErrorMessage(wachtwoord.get('passwordGroup').get('herhaalNieuw')['errors']) }}</div>


    <div *ngIf="
              wachtwoord.get('passwordGroup').errors &&
              wachtwoord.get('passwordGroup').get('herhaalNieuw').touched &&
              wachtwoord.get('passwordGroup').get('nieuwWachtwoord').touched
            ">
      {{ getErrorMessage(wachtwoord.get('passwordGroup').errors) }}
    </div>

    <button type="submit" class="btn btn-block" [disabled]="!wachtwoord.valid">
      Wijzig
    </button>
  </form> -->
</div>