


table{
    border: 1px solid black;
    margin-top: 20px;
    border-spacing: 0px;

}

p{
    color: #C60907;
    font-weight: bold;
    font-size: 14px
}


tr.items{
    height: 40px;
    border: solid black 2px;
    font-size: 12px;
    background-color: lightgray;
}

th, td{
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid gray;
}

th{
    height: 30px;
    width:80px;
    background-color: #C60907;
    color: white;
    font-size: 16px;
    font-weight: normal;
    border-bottom: none;
}

.add:hover{
    background-color: #C60907;
    color: white;
    transition-duration: 1s;
    cursor: pointer;
}

.more:hover{
    background-color: #C60907;
    color: white;
    transition-duration: 1s;
    cursor: pointer;
}

.filter{
    display:flex;
    flex-direction: column;
}

.filter input, select{
    margin: 5px;
    padding: 5px;
    width: 125px;
    text-align: center;
}

select{
    width: 139px;
}
