<div class="contentcontainer">
  <p>ZOEK HET GEWENSTE BIER</p>
  <div class="filter">
    <div class="filtertop">
      <input matInput placeholder="Naam bier" type="text" [(ngModel)]="naamBier" />
      <input matInput placeholder="Naam brouwer" type="text" [(ngModel)]="naamBrouwer" />
      <input matInput placeholder="Percentage" type="number" min="0" [(ngModel)]="percentage" max="40" />
    </div>
    <div class="filterbottom">
      <input matInput placeholder="Kleur" type="text" [(ngModel)]="kleur" />
      <input matInput placeholder="Smaak" type="text" [(ngModel)]="smaak" />
    </div>
  </div>
  <div *ngIf="bieren$ as bieren; else loading" class="card-columns">
    <app-bier *ngFor="let bier of (bieren | bierfilter:naamBier:smaak:kleur:percentage:naamBrouwer)" [bier]="bier"
      [brouwer]="brouwer(bier.brouwerId)">
    </app-bier>
  </div>

  <ng-template #loading>
    <mat-spinner></mat-spinner>
  </ng-template>
</div>