.card-columns{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

p{
    color: #C60907;
    font-weight: bold;
    font-size: 14px
}
.filter{
    display:flex;
    flex-direction: column;
    margin-bottom: 10px;
    font-size: 14px;
}

.filter input, .filter select{
    margin: 5px;
    padding: 5px;
    width: 125px;
    text-align: center;
    border: 1px solid black;
}

.filterbottom{
    flex-direction: row;
    display: flex;
}

select{
    width: 139px;
}


@media(max-width: 320px){
    .filter input, select{
        margin: 5px;
        padding: 5px;
        width: 100px;
        text-align: center;
        font-size: 12px;
    }
}

@media(max-width: 451px){
    .card-columns {
        column-count: 1;
        
        display: inline-block;
    }
}


@media (min-width: 450px) {
    .card-columns {
        column-count: 2;
        display: inline-block;
    }
}

@media (min-width: 768px) {
    .card-columns {
        column-count: 3;

    }
}

@media (min-width: 992px) {
    .card-columns {
        column-count: 4;
    }
}

@media (min-width: 1200px) {
    .card-columns {
        column-count: 5;
    }

}