<div class="contentcontainer">
  <p>Jouw biertjes</p>
  <div class="filter">
    <div class="filtertop">
      <input matInput placeholder="Naam bier" type="text" [(ngModel)]="naamBier" />
      <input matInput placeholder="Naam brouwer" type="text" [(ngModel)]="naamBrouwer" />
      <input matInput placeholder="Percentage" type="number" min="0" [(ngModel)]="percentage" max="40" />
    </div>
    <div class="filterbottom">
      <input matInput placeholder="Kleur" type="text" [(ngModel)]="kleur" />
      <input matInput placeholder="Smaak" type="text" [(ngModel)]="smaak" />
    </div>
  </div>
  <div *ngIf="(mijnBieren$ | async) as mijnBieren; else loading">
    <div *ngIf="!(mijnBieren.length == 0); else geen">
      <app-bier *ngFor="let bier of (mijnBieren | bierfilter:naamBier:smaak:kleur:percentage:naamBrouwer)" [bier]="bier"
        [brouwer$]="getBrouwer$(bier.brouwerId)">
      </app-bier>
    </div>
  </div>
  <ng-template #geen>
    <div>Uw lijst is leeg</div>
  </ng-template>
  <ng-template #loading>
    <div>Uw lijst wordt geladen</div>
  </ng-template>
</div>