.container{
    height: 100vh;
    background-color: #C60907;
    color: white;
    display: flex;
    flex-direction: column;
    
    align-items: center;
}

.button a{
    border: 1px solid white;
    font-size: 20px;
    padding: 5px;
}

.button a:hover{
    background-color: white;
    color: #C60907;
    transition-duration: 1000ms;
}

.welcome{
    margin-top: 10%;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

.countdown{
    margin-top: 50px;
}

.enter{
    margin-top: 50px;
}

.language{
    margin-top: 50px;
}