.navbar{
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
    padding-left:0px;
    padding-right: 0px;
    border-bottom: 2px solid       rgba(198, 9, 7, 0.5);
    display: flex;
    align-items: center;
    z-index: 2;
    font-size: 16px;
    color: black;
}

.dropdown-menu{
    margin-right: 15px;
    border-radius: 0px;
}

button.navbar-toggler{
    padding:0px;
}


#menu{
    font-size:30px;
    color: #C60907;
    padding:0px;
}

.logo{
    width: 80px;
    height: 54px;
}

.merk{
    padding-right: 10px;
}

.item{
    margin-right: 15px;
    padding: 5px;
    
    padding-left: 0px;
    display: inline-flex;
    vertical-align: middle;
    border-bottom: 2px solid transparent;
}

.dropdown-item{
    vertical-align: bottom;
    font-size: 14px;
    margin-left: 15px;
    padding: 0px
}

a.dropdown-item:hover{
    background-color: transparent;
    color: #C60907
}

.dropdown-item i{
    vertical-align: bottom;
}

.navigatie .active-link{
    border-bottom: #C60907 2px solid;
    color: #C60907;
}

.profile .active-link{
    border-bottom: #C60907 2px solid;
    color: #C60907;
}

.item:hover{
    border-bottom: #C60907 2px solid;
    color: #C60907;
    opacity: 0.6;
    transition-delay: 250ms;
    transition-duration: 1500ms;
}

.active-link{
    border-bottom: #C60907 2px solid;
    color: #C60907;
    opacity: 0.6;
}

.item#dropdown:hover{
    border-color: transparent;
    opacity: 1;
    background-color: #C60907;
    color: white;
}

i{
    padding-right: 5px;
    font-size: 20px;
}


.example-container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  @media(max-width: 320px){
      .navbar{
          width: 100%;
          margin:0px;
      }
  }
