<nav class="navbar">
  <div class="merk">
    <a [routerLink]="['home']"><img class="logo" src="../../../assets/images/logo.jpg"></a>
  </div>
  <div class="navigatie">
    <a class="item" [routerLink]="['home']" routerLinkActive="active-link">Home</a>
    <a class="item" [routerLink]="['biervdmaand']" routerLinkActive="active-link">Bier vd maand</a>
    <a class="item" [routerLink]="['evenementen']" routerLinkActive="active-link">Evenementen</a>
    <a class="item" [routerLink]="['bieren']" routerLinkActive="active-link">Bieren</a>
    <a class="item" [routerLink]="['mijnbieren']" routerLinkActive="active-link">Mijn bieren</a>
  </div>
  <div class="profile">
    <a class="item" [routerLink]="['registreer']" routerLinkActive="active-link">
      <i class="material-icons">account_circle</i> Registreer
    </a>
    <a class="item" [routerLink]="['login']" routerLinkActive="active-link">
      <i class="material-icons">forward</i> Login</a>
  </div>
  <div class="profileSmall">
    <i class="fas fa-bars"></i>
  </div>
  <div class="navbarVerySmall">
    <i class="fas fa-bars"></i>
  </div>
</nav>