.navbar{
    height: 80px;
    width: 90%;
    margin-right: 5%;
    margin-left: 5%;
    border-bottom: 2px solid        #C60907;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    background-color: white;
    align-items: center;
    z-index: 2;
    font-size: 16px;
    color: black;
}

.logo{
    width: 80px;
    height: 54px;
}

.merk{
    padding-left: 20px;
    padding-right: 10px;
}

.item{
    margin-right: 15px;
    padding: 5px;
    display: inline-flex;
    vertical-align: middle;
    border-bottom: 2px solid transparent;
}

.navigatie .active-link{
    border-bottom: #C60907 2px solid;
    color: #C60907;
}

.profile .active-link{
    border-bottom: #C60907 2px solid;
    color: #C60907;
}

.item:hover{
    border-bottom: #C60907 2px solid;
    color: #C60907;
    opacity: 0.6;
    transition-delay: 250ms;
    transition-duration: 1500ms;
}

i{
    padding-right: 5px;
    font-size: 20px;
}

.profile{
    position: absolute;
    right: 0;
}

