<nav class="navbar">
  <div class="merk">
    <a [routerLink]="['home']"><img class="logo" src="../../../assets/images/logo.jpg"></a>
  </div>
  <div class="navigatie">
    <a class="item" [routerLink]="['home']" routerLinkActive="active-link">Home</a>
    <a class="item" [routerLink]="['historie']" routerLinkActive="active-link">Historie</a>
    <a class="item" [routerLink]="['zoek']" routerLinkActive="active-link">Zoek bieren/brouwers</a>
    <a class="item" [routerLink]="['biervdmaand']" routerLinkActive="active-link">Bier vd maand</a>
    <a class="item" [routerLink]="['evenementen']" routerLinkActive="active-link">Evenementen</a>
  </div>
  <div class="profile">
    <a class="item" [routerLink]="['registreer']" routerLinkActive="active-link">
      <i class="material-icons">account_circle</i> Registreer
    </a>
    <a class="item" [routerLink]="['login']" routerLinkActive="active-link">
      <i class="material-icons">forward</i> Login</a>
  </div>
</nav>