input, textarea, select, option{
    text-align: center;
    font-size: 12px;
    height: 30px;
    border: 1px solid black;
}

form{
    margin-right: 8px;
}


textarea{
    height: 50px;
}

.form-group{
    margin-bottom: 0.5rem;
}

button{
    color:white;
    background-color: #C60907;
    margin-bottom: 10px;
}

button:hover{
    color:white;
}

.error{
    color: red;
    font-size: 12px;
    margin-top: 4px;
    text-align: center;
}

.form-row#check{
    display: flex;
    justify-content: center;
}