<div *ngIf=!!error class="alert alert-danger alert-dismissible fade show" role="alert">
  {{error}}
  <button type="button" class="close" (click)="close()" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div *ngIf=!!success class="alert alert-success alert-dismissible fade show" role="alert">
  {{success}}
  <button type="button" (click)="close()" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form [formGroup]="bier" (ngSubmit)=onSubmit()>
  <div class="form-row">
    <div class="form-group col-sm-4">
      <input type="email" class="form-control" placeholder="Naam brouwer" aria-label="brouwernaam"
        formControlName="brouwersnaam" readonly>
      <div class="error" *ngIf="bier.get('brouwersnaam')['errors'] && bier.get('brouwersnaam').touched">
        {{ getErrorMessage(bier.get('brouwersnaam')['errors']) }}</div>
    </div>
    <div class="form-group col-sm-4">
      <input type="text" class="form-control" placeholder="Naam bier*" aria-label="biernaam" formControlName="biernaam">
      <div class="error" *ngIf="bier.get('biernaam')['errors'] && bier.get('biernaam').touched">
        {{ getErrorMessage(bier.get('biernaam')['errors']) }}</div>
    </div>
    <div class="form-group col-sm-4">
      <input type="number" class="form-control" placeholder="Percentage*" aria-label="percentage"
        formControlName="percentage" min=0 max=40>
      <div class="error" *ngIf="bier.get('percentage')['errors'] && bier.get('percentage').touched">
        {{ getErrorMessage(bier.get('percentage')['errors']) }}</div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-sm-6">
      <select class="form-control" name="kleuren" formControlName="kleur">
        <option value="" disabled selected>-- Kleur van je bier* --</option>
        <option *ngFor="let kleur of kleuren" value={{kleur}}>{{kleur}}</option>
      </select>
      <div class="error" *ngIf="bier.get('kleur')['errors'] && bier.get('kleur').touched">
        {{ getErrorMessage(bier.get('kleur')['errors']) }}
      </div>
    </div>
    <div class="form-group col-sm-6">
      <select class="form-control" name="smaken" formControlName="smaak">
        <option value="" disabled selected>--Smaak van je bier* --</option>
        <option *ngFor="let smaak of smaken" value={{smaak}}>{{smaak}}</option>
      </select>
      <div class="error" *ngIf="bier.get('smaak')['errors'] && bier.get('smaak').touched">
        {{ getErrorMessage(bier.get('smaak')['errors']) }}
      </div>

    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-sm-6">
      <select class="form-control" aria-label="biersoort" name="biersoorten" formControlName="biersoort">
        <option value="" disabled selected>-- Soort bier* --</option>
        <option *ngFor="let biersoort of biersoorten" value={{biersoort}}>{{biersoort}}</option>
      </select>
      <div class="error" *ngIf="bier.get('biersoort')['errors'] && bier.get('biersoort').touched">
        {{ getErrorMessage(bier.get('biersoort')['errors']) }}</div>
    </div>
    <div class="form-group col-sm-6">
      <select class="form-control" aria-label="gisting" name="gistingen" formControlName="soortgisting">
        <option value="" disabled selected>-- Soort gisting van je bier* --</option>
        <option *ngFor="let gisting of gistingen" value={{gisting}}>{{gisting}}</option>
      </select>
      <div class="error" *ngIf="bier.get('soortgisting')['errors'] && bier.get('soortgisting').touched">
        {{ getErrorMessage(bier.get('soortgisting')['errors']) }}</div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-sm-12">
      <textarea class="form-control" placeholder="Geef een omschrijving voor je bier*" formControlName="omschrijving"
        aria-label="omschrijving"></textarea>
      <div class="error" *ngIf="bier.get('omschrijving')['errors'] && bier.get('omschrijving').touched">
        {{ getErrorMessage(bier.get('omschrijving')['errors']) }}</div>
    </div>
  </div>
  <div class="form-row" id="check">
    <div class="form-check form-check-inline col-lg-3">
      <input class="form-check-input" type="checkbox" id="opvat" formControlName="opVat">
      <label class="form-check-label" for="opvat">Bier op vat?</label>
      <div class="error" *ngIf="bier.get('opVat')['errors'] && bier.get('opVat').touched">
        {{ getErrorMessage(bier.get('opVat')['errors']) }}</div>
    </div>
    <div class="form-check form-check-inline col-lg-5">
      <input class="form-check-input" type="checkbox" id="primeur" formControlName="primeur">
      <label class="form-check-label" for="primeur">Is dit bier een primeur?</label>
      <div class="error" *ngIf="bier.get('primeur')['errors'] && bier.get('primeur').touched">
        {{ getErrorMessage(bier.get('primeur')['errors']) }}</div>
    </div>
    <div class="form-check form-check-inline col-lg-3">
      <input class="form-check-input" type="checkbox" id="recent" formControlName="recent">
      <label class="form-check-label" for="recent">Is dit bier recent?</label>
      <div class="error" *ngIf="bier.get('recent')['errors'] && bier.get('recent').touched">
        {{ getErrorMessage(bier.get('recent')['errors']) }}</div>
    </div>
  </div>

  <button type="submit" [disabled]="!bier.valid" class="btn btn-block">
    Voeg toe
  </button>
</form>