

p { 
    color:#C60907; 
    font-weight: bold;
    font-size: 14px
}

.form{
    display: flex;
    flex-direction: column;
}

form{
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.input{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%
    
}

input{
    width: 250px;
    font-size: 13px;
    height: 18px;
    margin-top: 10px;
    border: 1px solid gray;
    background-color: lightgray;
    border-radius: 15px;
    padding: 5px;
    text-align: center;
    outline: none;
}

select{
    width: 262px;
    height: 30px;
    font-size: 13px;
    margin-top: 10px;
    border: 1px solid gray;
    background-color: lightgray;
    border-radius: 15px;
    padding: 5px;
    text-align-last: center;
    outline: none;
}

textarea{
    width: 250px;
    height: 30px;
    font-size: 13px;
    margin-top: 10px;
    border: 1px solid gray;
    background-color: lightgray;
    border-radius: 15px;
    padding: 5px;
    text-align-last: center;
    outline: none;
}

button{
    width: 312px;
    background: transparent;
    border: 1px solid transparent;
    border-radius: 15px;
    height: 37px;
    padding: 10px;
    background-color:  #C60907;
    color: white;
}

.checkbox{
    height: 30px;
    width: 320px;
}

.checkbox label{
    font-size: 13px;
}

.checkbox input{
    margin: 0;
    padding: 0;
    width: 30px;
    height: 15px;
    vertical-align: bottom
}

.error{
    color: red;
    font-size: 12px;
    margin-top: 4px;
}