.card{
    width: 100%;
    max-width: 100%;
    background-color: #C60907;
    color: white;
}

.card-subtitle{
    color: white;
    opacity: 0.8;
}

.leftright{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-bottom: 10px;
}

.left{
    width: 40%;
}

.right{
    width: 60%;
}

img{
    height: 100px;
}

@media(max-width: 480px){
    .left{
        display: none;
    }

    .right{
        width: 100%;
    }
}

