.card{
    width: 100%;
}

.img{
    background-color: lightgray;
    display:flex;
    justify-content: center;
    align-items: center;
}

.content{
    background-color:  #C60907;
    color: white;
}

small{
    color: lightgray;
}

img{
    height: 100px;
}

@media(max-width: 480px){
    .left{
        display: none;
    }

    .right{
        width: 100%;
    }
}

