<div class="contentcontainer">
  <mat-tab-group mat-stretch-tabs animationDuration="0ms" [disableRipple]="true" [backgroundColor]="red">
    <mat-tab label="Bierfestival nieuwtjes">
      <b>Nieuws over bab</b>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus gravida est est, sit amet
      tempus erat mattis sit amet. Integer arcu tellus, finibus et odio efficitur, suscipit sodales massa. Vivamus
      dictum quis orci varius commodo. Duis risus diam, venenatis a feugiat ut, pharetra at nibh. Ut dui arcu, blandit
      vitae neque euismod, tempus gravida quam. Nunc nibh nunc, eleifend vel dapibus nec, viverra et nisi. Ut iaculis
      efficitur diam vitae porttitor. Aliquam pellentesque mattis est, quis interdum ipsum hendrerit at. Aenean ac ante
      rhoncus, pretium metus non, rhoncus velit.

    </mat-tab>
    <mat-tab label="Brouwers nieuwtjes">
      <b>Hier komen de nieuwtjes omtrent brouwers, updates van bieren, nieuwe brouwers, verwijderen bieren</b>Lorem
      ipsum dolor sit amet, consectetur adipiscing elit. Vivamus gravida est est, sit amet tempus erat mattis sit amet.
      Integer arcu tellus, finibus et odio efficitur, suscipit sodales massa. Vivamus dictum quis orci varius commodo.
      Duis risus diam, venenatis a feugiat ut, pharetra at nibh. Ut dui arcu, blandit vitae neque euismod, tempus
      gravida quam. Nunc nibh nunc, eleifend vel dapibus nec, viverra et nisi. Ut iaculis efficitur diam vitae
      porttitor. Aliquam pellentesque mattis est, quis interdum ipsum hendrerit at. Aenean ac ante rhoncus, pretium
      metus non, rhoncus velit.
    </mat-tab>
  </mat-tab-group>
</div>