input, textarea, select, option{
    text-align: center;
    font-size: 12px;
    height: 30px;
}

.form{
    width: 75%;
    max-width: 400px;
}

.form-row{
    margin: 0px;
}


.form-group{
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;  
    border: 1px solid;
    text-align: center;
    border-color: black;
    border-radius: 8px;
    color: white;
    padding: 0px;
    vertical-align: middle;
}


input.form-control#override {
    color: black;
    background-color: transparent;
    padding: 5px;
    margin-right: 30px;
}

i{
    color: gray;
    padding-left: 10px;
}

button{
    color:white;
    background-color: #C60907;
    margin-bottom: 10px;
}

button:hover{
    color:white;
}

.form-row#check{
    display: flex;
    justify-content: center;
}


p{
    font-size: 16px;
    color: 		#C60907;
    margin-bottom: 5px;
}

.logo{
    margin-top: 20px;
    height:108px;
    width:160px;
}

a{
    margin-top: 8px;
    font-size: 16px;
    color: 		#C60907;
}

h2{
    margin-bottom: 4px;
    color: 		#C60907;
}

hr{
 
    color: 		#C60907;   
    width: 150px;
}

.error{
    color: red;
    font-size: 12px;
    margin-bottom: 4px;
    margin-top: 0px;
}

.logo{
    margin-top: 20px;
    height:108px;
    width:160px;
}

button:disabled,
button[disabled]{
    background-color: gray;
}

