.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3%;
}
.btn{
    background-color: #C60907;
    border-color: transparent;
    width: 90%;
}

.input-group{
    width: 90%;
}