<mat-card>
  <div class="titles">
    <mat-card-title>{{bier.naam}}</mat-card-title>
    <mat-card-subtitle>{{brouwer.naam}}</mat-card-subtitle>
  </div>
  <mat-card-content>
    <div class="col">
      <div class="row"><b>Kleur<br></b>{{bier.kleur}}</div>
      <div class="row"><b>Smaak<br></b>{{bier.smaak}}</div>
    </div>
    <div class="col">
      <div class="row"><b>Percentage<br></b>{{bier.percentage}}%</div>
      <div class="row"><b>Primeur<br></b>{{bier.isPrimeur}}</div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <i class="material-icons" (click)=add()>add</i>
    <i class="material-icons" (click)=openDialog()>search</i>
  </mat-card-actions>
</mat-card>