<div [ngClass]="{'card': checked != 'green', 'card-green': checked == 'green', 'text-white': true}">
  <div class="card-header" data-cy="brouwer-naam">
    <h5>{{bier?.naam}} ({{bier?.percentage}}%)</h5>
    <h6>{{brouwer?.naam}}</h6>
    <div class="extra">
      <span class="badge badge-warning">{{bier?.kleur}}</span>
      <span class="badge badge-warning">{{bier?.smaak}}</span></div>
  </div>
  <div class="card-footer">
    <i class="material-icons" (click)=add()>add</i>
    <i class="material-icons" (click)=open()>search</i>
    <i *ngIf="roleMatch(['Admin', 'SuperUser'])" class="material-icons" (click)=rate()>star</i>
  </div>
</div>