<div class="modal-header">
  <div class="content">
    <h5 class="modal-title">{{bier.naam}} ({{bier.percentage}}%)</h5>
    <h6 class="modal-subtitle">{{brouwer.naam}}</h6>
    <p>Standnummer 999</p>
  </div>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col">
      <span class="badge">{{bier.smaak}}</span>
      <span class="badge">{{bier.bierSoort}}</span>
      <span class="badge">{{bier.soortGisting}}</span>
      <span class="badge">{{bier.kleur}}</span>
    </div>
    <div class="col align">
      <span class="badge">{{bier.isRecent}}</span>
      <span class="badge">{{bier.isPrimeur}}</span>
      <span class="badge">{{bier.isOpVat}}</span>
    </div>
  </div>
</div>
<hr>
<div class="modal-body description">
  <div>{{bier.omschrijving}}</div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-block" (click)="add()">Voeg
    bier toe aan
    favorieten</button>
  <div *ngIf=!!error class="alert alert-danger alert-dismissible fade show" role="alert">
    {{error}}
    <button type="button" (click)="close()" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div *ngIf=!!success class="alert alert-success alert-dismissible fade show" role="alert">
    {{success}}
    <button type="button" (click)="close()" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>