<div class="container">
  <div mat-dialog-content class="header">
    <div class="badge"><span>999</span><span>{{data.percentage}}%</span></div>
    <h1>{{data.naam}}</h1>
    <h2>{{data.brouwerNaam}}</h2>
  </div>
  <hr>
  <div mat-dialog-content class="body">
    <table>
      <th>Kleur</th>
      <th>Soort</th>
      <tr>
        <td>
          {{data.kleur}}
        </td>
        <td>
          {{data.bierSoort}}
        </td>
      </tr>
      <th>Smaak</th>
      <th>Op vat</th>
      <tr>
        <td>{{data.smaak}}</td>
        <td>{{data.isOpVat}}</td>
      </tr>
      <th>Primeur</th>
      <th>Recent</th>
      <tr>
        <td>{{data.isPrimeur}}</td>
        <td>{{data.isRecent}}</td>
      </tr>
    </table>
  </div>
  <hr>
  <div mat-dialog-content class="description">
    <p>{{data.omschrijving}}</p>
    <button (click)=add()>Voeg nu toe aan uw lijst!</button>
  </div>
</div>