<div *ngIf=!!error class="alert alert-danger alert-dismissible fade show" role="alert">
  {{error}}
  <button type="button" class="close" (click)="close()" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div *ngIf=!!success class="alert alert-success alert-dismissible fade show" role="alert">
  {{success}}
  <button type="button" (click)="close()" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="table-responsive-md" *ngIf="brouwerbieren.length > 0; else empty">

  <form [formGroup]="bierForm" (ngSubmit)=saveUpdates()>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Naam</th>
          <th scope="col" class="del2">Kleur</th>
          <th scope="col" class="del1">Smaak</th>
          <th scope="col" class="aanwezig">Aanwezig</th>
          <th scope="col">Wijzig</th>
          <th scope="col" class="del">Verwijder</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let bier of brouwerbieren; let i = index">
          <td>{{bier.naam}}</td>
          <td class="del2">{{bier.kleur}}</td>
          <td class="del1">{{bier.smaak}}</td>
          <td class="aanwezig">
            <input type="checkbox" [checked]="bier.aanwezig" (change)="update(bier, $event.target.checked)" />
          </td>
          <td class="del"><i (click)=open(bier) class="material-icons">
              edit
            </i></td>
          <td>
            <i (click)=delete(bier) class="material-icons">
              delete
            </i>
          </td>
        </tr>
      </tbody>

    </table>

  </form>
  <button type="submit" class="btn btn-block" (click)="saveUpdates()" [disabled]="!updates">
    Sla aanwezigheden op
  </button>
</div>
<ng-template #empty>
  <div class="geenbieren">
    <div *ngIf="!admin">
      <div>Je lijst is nog leeg, u heeft nog geen bieren aangemaakt</div>
      <a routerLink="/account/addbier">Start nu met het aanmaken van bieren</a>
    </div>
    <div *ngIf="admin">
      <div>De lijst van deze brouwer is nog leeg</div>
    </div>
  </div>
</ng-template>