.message{
    margin-bottom: 25px;
}

img{
    height: 50%;
    width: 75%;
}

.right{
    height: 50%;
}


.button{
    color: white;
    background-color: #C60907;
    text-align: center;
    width: 200px;
    padding: 10px;
}


html .contentcontainer{
    flex-direction: column;
    justify-content: center;
    align-content: center;
    vertical-align: middle;
}