<div class="contentcontainer">
  <div class="form">
    <a [routerLink]="['/home']"><img class="logo" src="../../../assets/images/logo.jpg"></a>
    <form [formGroup]="gebruiker" (ngSubmit)=onSubmit()>
      <p>Meld je aan</p>
      <div class="form-row">
        <div class="form-group col-sm-12">
          <i class="material-icons">perm_identity</i>
          <input style="outline:none;" id="override" class="form-control" aria-label="name" placeholder="Gebruikersnaam"
            type="text" formControlName="gebruikersnaam" />
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-sm-12">
          <i class="material-icons">lock</i>
          <input id="override" class="form-control" aria-label="name" placeholder="Wachtwoord" type="password"
            formControlName="wachtwoord" />
        </div>
      </div>
      <button type="submit" [disabled]="!gebruiker.valid" class="btn btn-block">
        Meld aan
      </button>
      <a [routerLink]="['/registreer']">Nog geen account? Registreer je
        hier</a>
      <div class="error" *ngIf="!!errorMsg">{{errorMsg}}</div>
    </form>
  </div>
</div>