/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Bitter');
@import '~@angular/material/theming';
@include mat-core();

*{
    font-family: 'Bitter', serif;
}

html {
    position: relative;
    min-height: 100%;
}

body{
    
    min-width: 300px;
    padding: 0px;
    margin: 0 0 60px;
    padding-bottom: 20px;
}



a{
    all:unset;
    cursor:pointer;
}

.contentcontainer{
    padding-top: 80px;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.contentcontainer .mat-tab-label{
    color: 		#C60907;
    opacity: 0.5;
}




