/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Bitter');

*{
    font-family: 'Bitter', serif;
}

body{
    padding: 0px;
    margin: 0px;
}  

.container .mat-tab-label{
    color: 		#C60907;
    opacity: 0.5;
}