

.navigation div.group{
    display: flex;
    flex-direction: column;
    background-color: #C60907;
    color: white;
}

a.item{
    font-size: 16px;
    text-align: left;
    margin: 5px;
    margin-right: 0px;
}

.active-link{
    background-color: white;
    color: #C60907;
}

a.item:hover{
    transition-delay: 50ms;
    transition-duration: 500ms;
    color: black;
}

a.item, i{
    vertical-align: middle;
    font-size: 16px;
}