<div class="navigation">
  <div class="group"><a class="item" [routerLink]="['instellingen']" routerLinkActive="active-link"><i
        class="material-icons">settings</i>
      Instellingen</a>
    <a class="item" [routerLink]="['mijnbieren']" routerLinkActive="active-link"><i class="material-icons">list</i> Mijn
      bierlijst</a>
    <a *ngIf="roleMatch(['Admin', 'Brouwer'])" class="item" [routerLink]="['addbier']" routerLinkActive="active-link"><i
        class="material-icons">add</i> Voeg een bier toe</a>
    <a *ngIf="roleMatch(['Admin'])" class="item" [routerLink]="['addpost']" routerLinkActive="active-link"><i
        class="material-icons">add</i> Voeg
      een nieuwe post toe</a></div>

  <div class="group">
    <a *ngIf="roleMatch(['Admin', 'Brouwer'])" class="item" [routerLink]="['bierbeheer']"
      routerLinkActive="active-link"><i class="material-icons">chevron_right</i> Beheer je bieren</a>
    <a *ngIf="roleMatch(['Admin'])" class="item" [routerLink]="['adminbeheer']" routerLinkActive="active-link"><i
        class="material-icons">chevron_right</i> Beheer brouwers</a>
    <a class="item" (click)="logout()">
      <i class="material-icons">power_settings_new</i> Afmelden</a>
  </div>
</div>